<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GEOLOC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="ubicacion()" expand="block" shape="round">
    <ion-icon name="location-outline" slot="start"></ion-icon>
    Position
  </ion-button>

  <ion-list>
    <ion-item>
      <ion-label position="floating">User</ion-label>
      <ion-input type="text" [(ngModel)]="user"  placeholder="nombre de usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="pwd" placeholder="contraseña"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="5"> 
          <ion-button (click)="validate()">
            Sing in
          </ion-button>
        </ion-col>
        <ion-col size="5"> 
          <ion-button (click)="saveCredentials()">
            Sing up
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" shape="round" routerLink="/historial" >
      <ion-icon name="book-outline" slot="start"></ion-icon>
      Historial
    </ion-button>
  </ion-toolbar>
</ion-footer>
